.nav-tabs {
  padding-top: 1em;
  border-bottom-color: $green;
}

.nav-tabs .nav-link {
  color: white !important;
  font-weight: bold;
  background-color: $blue-1;
}

.currentTab {
  background-color: $green !important;
  color: white !important;
}