.statistics {
  margin-bottom: 1em;

  button {
    width: 151px;
    background-color: $blue-1;
    color: white;
    border: none !important;
    font-weight: bold;
    margin-bottom: 1em;
  }

  button:hover {
    color: white;
    background: $green;
  }

}