.buttonBar {
  position: absolute;
  right: 0;

  .btn-primary {
    color: #fff;
    font-weight: bold;
    background-color: $blue-1;
    border: none !important;
    margin-left: 1em;
  }

  .btn-primary:hover {
    background: $green;
  }
}