.buttonBar {
  position: absolute;
  right: 0;

  .btn-primary {
    color: #fff;
    font-weight: bold;
    background-color: $blue-1;
    border-color: $blue-1;
  }

  .btn-primary:hover {
    background: $green;
    border-color: $green;
  }
}